.character {
    left: 20px;
    position: absolute;
    height: 90px;
    width: 90px;
    z-index: 0;
}

.enemy {
    position: absolute;
    height: 75px;
    width: 75px;
    z-index: 0;
}

.disabledButton {
    background: gray;
    opacity: .5;
}
  
#gameContainer {
    height: 550px;
}

#startButton {
    position: fixed;
    bottom: 0;
    font-size: 25px;
    width: 100%;
    color: white;
    background: green;
    display: block;
    text-align: center;
}