.character {
    left: 20px;
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 0;
}

.enemy {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 0;
}
  
#gameContainer {
    height: 550px;
    border: 1px solid black
}