.character {
  left: 20px;
  position: relative;
}

.container {
  height: 1000px;
  background-image: url('https://t3.ftcdn.net/jpg/05/26/30/42/360_F_526304237_fyJTnrJ8ft1fEmoB3mkgQZqgPX3FuMQw.jpg');
  background-repeat: no-repeat;
}
